MINIO_VOLUMES="{{ storage_path }}"

MINIO_ADDRESS={{storage_default_host}}:{{ storage_default_port }}

MINIO_CONSOLE_ADDRESS={{storage_default_console_host}}:{{ storage_default_console_port }}

MINIO_ROOT_USER={{ storage_default_user }}

MINIO_ROOT_PASSWORD={{ storage_default_password }}
